
:root {
    --5c-default-font-size: 14px;
    --5c-blue: #56C8F3;
    --5c-dark-blue: #0D325B;
    --5c-dark-grey: #111111;
    --5c-light-grey: #434343;
    --5c-faint-grey: #EEEEEE;
    --5c-danger-red: #EE1122;
    --h: 50;
}
* {
    font-size: var(--5c-default-font-size);
}

.card-link {
    text-decoration: none;
    color: var(--5c-light-grey);
}
.card-link:hover {
    text-decoration: none;
    color: var(--primary-color);
}

.image-bg {
    height: var(--landing-category-card-height);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.caption-bottom {
    display: flex;
}

.caption-bottom .caption {
    align-self: flex-end;
}

.height-100 {
    min-height: 100%;
}

.fix-height-2 {
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
}

.fix-height-3 {
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;
}

.fix-height-4 {
    min-height: 400px;
    max-height: 400px;
    overflow: hidden;
}

.fix-height-5 {
    min-height: 500px;
    max-height: 500px;
    overflow: hidden;
}

.fix-height-var {
    min-height: var(--h);
    max-height:var(--h);
}

.navbar-default .navbar-brand {
    background-color: white;
    width: 100%;
}

.layout-sidebar-backdrop {
    background-color: var(--secondary-color);
}

.navbar-default .navbar-header {
    background-color: white;
}

.layout-sidebar {
    background-color: var(--secondary-color);
}

.navbar-brand {
     padding: unset;
    /*font-size: 18px;*/
    /*line-height: unset;*/
    /*height: 80px;*/
}

.navbar-brand-logo {
    height: 50px;
}

.navbar-default {
    background-color: var(--primary-color);
}

.btn-primary {
    background-color: var(--primary-button-color);
    border-color:  var(--primary-button-color);
    opacity: 85%;
}

.btn-primary:hover {
    background-color: var(--primary-button-color);
    border-color:  var(--primary-button-color);
    opacity: 100%;
}

.btn-secondary {
    background-color: var(--secondary-button-color);
    border-color:  var(--secondary-button-color);
    color: white;
    opacity: 85%;
}

.btn-secondary:hover {
    background-color: var(--secondary-button-color);
    border-color:  var(--secondary-button-color);
    opacity: 100%;
}

.btn-danger {
    background-color: var(--danger-button-color);
    border-color:  var(--danger-button-color);
    opacity: 85%;
}

.btn-danger:hover {
    background-color: var(--danger-button-color, #FF0000);
    border-color:  var(--danger-button-color, #ff0000);
    opacity: 100%;
}

.columns-var {
    column-count: var(--columns);
    column-rule: 1px solid var(--5c-faint-grey, #D3D3D3);
}

.max-height-var{
    max-height: var(--max-height, 300px);
    overflow-y: auto;
}
