
:root {
    --5c-blue: #56C8F3;
    --5c-dark-blue: #0C2340;
    --5c-dark-grey: #111111;
    --5c-light-grey: #434343;
    --5c-faint-grey: #EEEEEE;
    --5c-danger-red: #EE1122;
    --h: 50;
}

.card-link {
    text-decoration: none;
    color: var(--5c-light-grey);
}
.card-link:hover {
    text-decoration: none;
    color: var(--primary-color);
}

.image-bg {
    height: var(--landing-category-card-height);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.caption-bottom {
    display: flex;
}

.caption-bottom .caption {
    align-self: flex-end;
}

.height-100 {
    min-height: 100%;
}

.fix-height-2 {
    min-height: 200px;
    max-height: 200px;
    overflow: hidden;
}

.fix-height-3 {
    min-height: 300px;
    max-height: 300px;
    overflow: hidden;
}

.fix-height-4 {
    min-height: 400px;
    max-height: 400px;
    overflow: hidden;
}

.fix-height-5 {
    min-height: 500px;
    max-height: 500px;
    overflow: hidden;
}

.fix-height-var {
    min-height: var(--h);
    max-height:var(--h);
}

.navbar-default .navbar-header {
    background-color: var(--primary-color);
}

.layout-sidebar-backdrop {
    background-color: var(--secondary-color);
}

.layout-sidebar {
    background-color: var(--secondary-color);
}
